h1 {
  color: blue;
}
.container {
background-color: green;
}
body {
  background-color: purple;
}
.navbar {
  display: inline;
  background-image: url("https://www.w3schools.com/Colors/img_colormap.gif");
}
.login a {
  float: right;
  position: relative;
  border-solid: 1px black;
}
.login a: active{
  top: 2px;
}
