h1 {
  color: blue;
}
.container {
background-color: green;
}
body {
  background-color: purple;
}
.navbar {
  display: flex;
  background-image: https://www.w3schools.com/Colors/img_colormap.gif;
}
.login {
  float: right; 
}
