h1 {
  color: dodgerblue;
}
.container {
background-color: green;
}
body {
  background-color: purple;
}
.navbar li {
  display: inline;
}
.link {
  color: lightgrey;
}
p {
  color: white;
}
li  {
  border: 1px solid lightgrey;
  margin-left: 15px;
  padding: 2px;

}
h3 {
  color: lightgrey;
}
.navbar {
  display: flex;
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/39/69/blue-crystal-background-vector-19743969.jpg");
  color: LightGrey;
}
.login {
  float: right;
  margin-left: 700px;
  margin-top: 20px;
}
.login a {
  position: relative;
  cursor: pointer;
  border: 2px solid lightgrey;
  font-weight: bold;
  color: lightgrey;
  padding: 2px;
}
.login a:active{
    top: 2px;
}
img {
  height: 750px;
  width: 1125px;
  margin-left: 25px;
}
